<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/favicon.ico?v=1.0"/>
    <title>中秋阀门工作室-法兰查询</title>
    <base href="/static">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <div class="header">
        <h1>中秋阀门工作室-法兰查询</h1>
        <p>搜集整理：向先忠 联系电话：137-5090-8135</p>
        <p>本数据引用自ASME B 16.5-2020 仅供参考，具体以原标准为准</p>
    </div>
    <div class="form-container">
        <form id="dataForm">
            <label for="sheet_name">压力等级选择：</label>
            <div class="radio-group" id="sheetNameGroup">
                <!-- 使用JavaScript动态填充 -->
            </div>
            <br>
            <label for="in">公称通径选择(in)：</label>
            <select id="in" name="in">
                <option value="0.5">0.5</option>
                <option value="0.75">0.75</option>
                <option value="1">1</option>
                <option value="1.25">1.25</option>
                <option value="1.5">1.5</option>
                <option value="2">2</option>
                <option value="2.5">2.5</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="8">8</option>
                <option value="10">10</option>
                <option value="12">12</option>
                <option value="14">14</option>
                <option value="16">16</option>
                <option value="18">18</option>
                <option value="20">20</option>
                <option value="24">24</option>
            </select>
            <br>
            <button type="submit">提交查询</button>
        </form>
    </div>
    <div class="footer">
        <p>备案号: 蜀ICP备2024086737号-1</p>
    </div>
    <div class="result-container" id="result"></div>
</div>

<script>
    $(document).ready(function () {
        // 动态加载压力等级选项
        $.get('/sheet_names', function (sheetNames) {
            var sortedSheetNames = sheetNames.sort(function (a, b) {
                // 提取数字进行比较
                const getNumber = str => parseInt(str.match(/\d+/)[0], 10);
                return getNumber(a) - getNumber(b);
            });

            var rjNames = sortedSheetNames.filter(name => name.includes('RJ'));
            var rfNames = sortedSheetNames.filter(name => name.includes('RF'));

            var allNames = rjNames.concat(rfNames); // 确保 RJ 和 RF 分开显示

            allNames.forEach(function (name) {
                $('#sheetNameGroup').append(
                    `<label>
                    ${name}
                    <input type="radio" name="sheet_name" value="${name}">
                </label>`
                );
            });
        });

        $('#dataForm').on('submit', function (event) {
            event.preventDefault();
            var selectedSheetName = $('input[name="sheet_name"]:checked').val();
            if (!selectedSheetName) {
                alert('请先选择压力等级。');
                return;
            }

            var formData = {
                'sheet_name': $('input[name="sheet_name"]:checked').val(),
                'in': $('#in').val().trim().toString()
            };

            $.ajax({
                type: 'POST',
                url: '/post',
                data: formData,
                dataType: 'json',
                success: function (data) {
                    if (data.error) {
                        alert(data.error);
                    } else {
                        var tableHTML = '<h3>压力等级：' + selectedSheetName + ' 公称通径：' + formData['in'] + '</h3>' +
                            '<table>' +
                            '<thead><tr><th>属性</th><th>值</th></tr></thead>' +
                            '<tbody>';

                        // 按照中文字符大小排序
                        var orderedKeys = Object.keys(data).sort(function (a, b) {
                            if (a === '法兰外径') return -1;
                            if (b === '法兰外径') return 1;
                            if (a === '固定式球阀长度') return 1;
                            if (b === '固定式球阀长度') return -1;
                            return a.localeCompare(b);
                        });

                        orderedKeys.forEach(function (key) {
                            tableHTML += '<tr><td>' + key + '</td><td>' + data[key] + '</td></tr>';
                        });

                        tableHTML += '</tbody></table>';

                        // 将内容写入当前页面的结果div
                        $('#result').html(tableHTML);
                        // 确保结果容器可见
                        $('.result-container').show();
                    }
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        });
    });
</script>
</body>
</html>
